
<ion-content style=" --background:#B44DA3"  >
  
    <a [routerLink]="'/create-account'" >Next</a>
  <ion-grid >
    <ion-row>
      <ion-col  size="12;">
      <h1 style= "color:white;">MAIN HOTEL</h1>
      </ion-col>
    </ion-row>

      <ion-row>
    <ion-card>
      <ion-card-header style=" background:#B44DA3">
          <ion-img src="https://i.dailymail.co.uk/i/pix/2017/12/05/09/4700561D00000578-5146823-image-a-47_1512466988155.jpg"></ion-img>
      </ion-card-header>
      <ion-card-content style=" background:#B44DA3">
            <ion-col style="color: #5F0661;">
             
             <div style="background-color:#e68de7 ;padding: 4%;">Honey</div> 
            </ion-col>
            
             <div style="background-color:#e68de7; padding: 4% ;color: #5F0661;">Price</div>
             <ion-col >
            </ion-col>
        
      </ion-card-content>
    </ion-card>

  </ion-row>
  <ion-row style="color:white;">
    <ion-col  size="12">
    <ion-input value="Rooms $ Rates"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row style="color:rgb(92, 10, 92);">
    <ion-input value="Luxury Room"></ion-input>
  </ion-row>

  <ion-row style="color:rgb(92, 10, 92);">
    <ion-input value="Family Room"></ion-input>
  </ion-row>






<ion-row style="color:white;">
  <ion-col  size="12">
  <ion-input value="Facilities"></ion-input>
  </ion-col>
</ion-row>

<ion-row style="color:rgb(92, 10, 92);">
  <ion-input value="Food $ Drinks"></ion-input>
</ion-row>

<ion-row style="color:rgb(92, 10, 92);">
  <ion-input value="Parking"></ion-input>
</ion-row>



  

  </ion-grid>
</ion-content>

