
<ion-content style=" --background:#B44DA3"  >
  <ion-grid style="margin-top: 150px;">



  

  <ion-row>
    <ion-col style="color:#5F0661; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;" size="12">
    Login
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Username</ion-label>
  <ion-input  [(ngModel)]="username" name="Username" type="text"></ion-input>
</ion-item>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Password </ion-label>
  <ion-input [(ngModel)]="password" name="Password" type="text"></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-button (click)="login()" expand="full" style="--background:#550a57">LOGIN</ion-button>
    </ion-col>
  </ion-row>

  

  </ion-grid>
</ion-content>


