
<ion-content style=" --background:#B44DA3"  >
  <form #f="ngForm" novalidate >
  <ion-grid style="margin-top: 150px;">



  

  <ion-row>
    <ion-col style="color:#5F0661; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;" size="12">
    Login
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Username</ion-label>
  <ion-input type="text" name="username" required [(ngModel)]="data.username" #usernameCtrl="ngModel"  ></ion-input>
</ion-item>

<ion-item *ngIf="!usernameCtrl.valid && usernameCtrl.touched">
  <ion-text color="danger">username is required</ion-text>
</ion-item>

    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Password </ion-label>
  <ion-input type="password" name="Password"  required [(ngModel)]="data.password" #passwordCtrl="ngModel"   ></ion-input>
</ion-item>

<ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
  <ion-text color="danger">password is required</ion-text>
</ion-item>

    </ion-col>
  </ion-row>
  
  <ion-row>
 <ion-select style="background-color: aliceblue;" [(ngModel)]="data.users" name="users" #usersCtrl="ngModel" placeholder="Users">
        <ion-select-option value="1">user</ion-select-option>
        <ion-select-option value="2">owner</ion-select-option>
      </ion-select>
    
<ion-item *ngIf="!usersCtrl.valid && usersCtrl.touched">
  <ion-text color="danger">usersCtrl is required</ion-text>
</ion-item>
  </ion-row>
<br>
  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-button (click)="login()" expand="full" style="--background:#550a57" [disabled]="!f.valid">LOGIN</ion-button>
      <a routerLink="/create-account" style="color:white;font-size:1em;">Dont Have An Account? Create An Account.</a>
    </ion-col>
  </ion-row>

  

  </ion-grid>
  </form>
</ion-content>

