
<ion-content style=" --background:#B44DA3"  >
  <ion-grid style="margin-top: 150px;">

    <ion-row>
      <ion-col style="color:white; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif" size="12;">
      HOTELS
      </ion-col>
    </ion-row>

    

    <ion-card>
      <ion-card-header style=" background:#B44DA3">

          <ion-img src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?cs=srgb&dl=blue-exotic-hotel-189296.jpg&fm=jpg"></ion-img>
 
    
        
      </ion-card-header>
    
      <ion-card-content style=" background:#B44DA3">
        <ion-grid>
          <ion-row>
            <ion-col style="color: #5F0661;">
              Sky Hotel
            </ion-col>
            <ion-col style="color:#5F0661 ;">
              Price
            </ion-col>
            
          </ion-row>
        </ion-grid>

      </ion-card-content>
       </ion-card>

    <ion-card>
      <ion-card-header style=" background:#B44DA3">

          <ion-img src="https://th.bing.com/th/id/OIP.uSd7KgHu1JoQjcUzLYQIkwHaEK?pid=Api&rs=1"></ion-img>
 
    
        
      </ion-card-header>
    
      <ion-card-content style=" background:#B44DA3">
        <ion-grid>
          <ion-row>
            <ion-col style="color: #5F0661;">
              The Green Hotel
            </ion-col>
            <ion-col style="color:#5F0661 ;">
              Price
            </ion-col>
            
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>





    <ion-card>
      <ion-card-header style=" background:#B44DA3">

          <ion-img src="https://i.dailymail.co.uk/i/pix/2017/12/05/09/4700561D00000578-5146823-image-a-47_1512466988155.jpg"></ion-img>
 
    
        
      </ion-card-header>
    
      <ion-card-content style=" background:#B44DA3">
        <ion-grid>
          <ion-row>
            <ion-col style="color: #5F0661;">
              Kings Hotel
            </ion-col>
            <ion-col style="color:#5F0661 ;">
              Price
            </ion-col>
            
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header style=" background:#B44DA3">

          <ion-img src="https://i.dailymail.co.uk/i/pix/2017/12/05/09/4700561D00000578-5146823-image-a-47_1512466988155.jpg"></ion-img>
 
    
        
      </ion-card-header>
    
      <ion-card-content style=" background:#B44DA3">
        <ion-grid>
          <ion-row>
            <ion-col style="color: #5F0661;">
              Honey
            </ion-col>
            <ion-col style="color:#5F0661 ;">
              Price
            </ion-col>
            
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>



    


  

  </ion-grid>
</ion-content>
