
<ion-content style=" --background:#B44DA3"  >
  <ion-grid >
    
      
  <ion-row style="color:white;">
    <ion-col  size="12">
    <ion-input value="Booking History"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row style="color:rgb(92, 10, 92);">
    <ion-input value="Hotel name"></ion-input>
  </ion-row>

  <ion-row style="color:rgb(92, 10, 92);">
    <ion-input value="Date $ Time"></ion-input>
  </ion-row>






<ion-row style="color:white;">
  <ion-col  size="12">
  <ion-input value=""></ion-input>
  </ion-col>
</ion-row>

<ion-row style="color:rgb(92, 10, 92);">
  <ion-input value="Food $ Drinks"></ion-input>
</ion-row>

<ion-row style="color:rgb(92, 10, 92);">
  <ion-input value="Parking"></ion-input>
</ion-row>



  

  </ion-grid>
</ion-content>




  

