ion-content{
    display:flex;
    height:100% ;
    width:100%;
    
}

ion-button {
    position: relative;
    width: 70%;
    left: 15%;
}


ion-icon{
    
        font-size: 40px;
    
       color: #5F0661;

}