
<ion-content style=" --background:#B44DA3"  >
  <ion-grid style="margin-top: 150px;">



  

  <ion-row>
    <ion-col style="color:#5F0661; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;" size="12">
    Booking Form
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
    <ion-item>
      <ion-label>Check-in</ion-label>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
</ion-item>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
  <ion-item>
    <ion-label>Check-out</ion-label>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
</ion-item>
    </ion-col>
  </ion-row>



  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
        <ion-label>Room Type</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="l">Luxury Room</ion-select-option>
    <ion-select-option value="f">Family Room</ion-select-option>
  </ion-select>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label >adults </ion-label>
  <ion-select>
    <ion-select-option value="number">1</ion-select-option>
    <ion-select-option value="number">2</ion-select-option>
    <ion-select-option value="number">3</ion-select-option>
    <ion-select-option value="number">4</ion-select-option>
    <ion-select-option value="number">5</ion-select-option>
    <ion-select-option value="number">6</ion-select-option>
    <ion-select-option value="number">7</ion-select-option>
    <ion-select-option value="number">8</ion-select-option>
    <ion-select-option value="number">9</ion-select-option>
    <ion-select-option value="number">10</ion-select-option>
    <ion-select-option value="number">11</ion-select-option>
    <ion-select-option value="number">12</ion-select-option>
  </ion-select>
  
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label >Kids </ion-label>
  <ion-select>
    <ion-select-option value="number">1</ion-select-option>
    <ion-select-option value="number">2</ion-select-option>
    <ion-select-option value="number">3</ion-select-option>
    <ion-select-option value="number">4</ion-select-option>
    <ion-select-option value="number">5</ion-select-option>
    <ion-select-option value="number">6</ion-select-option>
    <ion-select-option value="number">7</ion-select-option>
    <ion-select-option value="number">8</ion-select-option>
    <ion-select-option value="number">9</ion-select-option>
    <ion-select-option value="number">10</ion-select-option>
    <ion-select-option value="number">11</ion-select-option>
    <ion-select-option value="number">12</ion-select-option>
  </ion-select>
  
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-button expand="full" style="--background:#550a57">BOOK NOW</ion-button>
    </ion-col>
  </ion-row>

  <ion-item>
   
  </ion-item>
  

  </ion-grid>
  
</ion-content>

