
<ion-content style=" --background:#B44DA3"  >
  <ion-grid style="margin-top: 150px;">



  

  <ion-row>
    <ion-col style="color:#5F0661; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;" size="12">
    Login
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Check-in</ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Check-out </ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Room Type </ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Guest </ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-button expand="full" style="--background:#550a57">BOOK NOW</ion-button>
    </ion-col>
  </ion-row>

  

  </ion-grid>
</ion-content>

