
<ion-content style=" --background:#B44DA3"  >

  <ion-grid style="margin-top: 150px;">



  <ion-row>
    <ion-col style=" margin-left: 16%;" size="8">
         <ion-img  style="width:50% ; margin-left: 25%;"
         src="https://mail.google.com/mail/u/0?ui=2&ik=83fbd887ab&attid=0.1&permmsgid=msg-a:r-916625756747500256&th=1757343e72fd1f79&view=att&disp=safe&realattid=f_kguid26w0"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="color:#5F0661; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif" size="12">
    Book Your Awsome Hotel
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-button [routerLink]="'/hotel-list'" expand="full" style="--background:#550a57">GET STARTED</ion-button>
    </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>



