#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.h4{
  
  
  
   text-align: center;
    margin-top: 250px;

}
ion-button {
  position: relative;
    width: 70%;
    left: 15%;
}

.collective{
  font-size: 60px;
  color:#5F0661; 
  text-align: center;
  font-weight: bold;
   font-weight: 900;
  

}
img{
  top: 20%;
} 

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
ion-content{
  display: flex;
  width: 100%;
  height: 100%;
}
#container a {
  text-decoration: none;
}