
<ion-content style=" --background:#B44DA3"  >

  <ion-grid style="margin-top: 150px;">



 <div class="collective">
  <ion-row>
    <ion-col >
      <img src="../../assets/icon/logopic-removebg-preview.png">
      <h4 style="color: #5F0661;; font-size: 60px; font-weight: 900; text-align: center; top:40% ;">
        Collective Hotels
      </h4>
    </ion-col>
  </ion-row>
</div>

  <ion-row style="margin-top: 40px;;">
    <ion-col>
      <ion-button [routerLink]="'/hotel-list'" expand="round" style="--background:#550a57">GET STARTED</ion-button>
    </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>



