


<ion-content style=" --background:#B44DA3">
  <a href="search">
  <ion-grid style="margin-top: 150px;">



  

  <ion-row>
    <ion-col style="color:#5F0661; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;" size="12">
    The Honey
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Employee</ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-item>
  <ion-label position="floating">Password </ion-label>
  <ion-input></ion-input>
</ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;;">
    <ion-col   size="12">
      <ion-button expand="full" style="--background:#550a57">Register</ion-button>
    </ion-col>
  </ion-row>

  
</a>
  </ion-grid>
</ion-content>


